@model ModelRelief.Dto.MeshTransform

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MeshTransform</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Width)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Width)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Depth)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Depth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GradientThreshold)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GradientThreshold)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttenuationFactor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttenuationFactor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AttenuationDecay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AttenuationDecay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnsharpGaussianLow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnsharpGaussianLow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnsharpGaussianHigh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnsharpGaussianHigh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UnsharpHighFrequencyScale)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnsharpHighFrequencyScale)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.P2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.P2)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
