@model IEnumerable<ModelRelief.Dto.MeshTransform>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depth)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.GradientThresholdEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GradientThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttenuationEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttenuationFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttenuationDecay)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UnsharpMaskingEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnsharpGaussianLow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnsharpGaussianHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnsharpHighFrequencyScale)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PlanarBackground)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TranslateMeshZPositive)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.SilhouetteEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SilhouetteEdgeWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SilhouetteSigma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReliefScale)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.P1Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P3Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P4Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P5Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P6Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P7Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P8Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P8)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.GradientThresholdEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradientThreshold)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.AttenuationEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttenuationFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttenuationDecay)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UnsharpMaskingEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnsharpGaussianLow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnsharpGaussianHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnsharpHighFrequencyScale)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PlanarBackground)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TranslateMeshZPositive)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.SilhouetteEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilhouetteEdgeWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SilhouetteSigma)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ReliefScale)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.P1Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P3Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P4Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P5Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P6Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P7Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P8Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P8)
            </td>
            <td>
                <a asp-controller="mesh-transforms" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-controller="mesh-transforms" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-controller="mesh-transforms" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
