@model IEnumerable<ModelRelief.Dto.MeshTransform>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Depth)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.GradientThreshold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttenuationFactor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AttenuationDecay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnsharpGaussianLow)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnsharpGaussianHigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnsharpHighFrequencyScale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.P2)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GradientThreshold)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttenuationFactor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AttenuationDecay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnsharpGaussianLow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnsharpGaussianHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnsharpHighFrequencyScale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.P2)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
