@model IEnumerable<ModelRelief.Dto.MeshTransform>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Depth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Width)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Tau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SigmaGaussianBlur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SigmaGaussianSmooth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LambdaLinearScaling)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Depth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Width)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SigmaGaussianBlur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SigmaGaussianSmooth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LambdaLinearScaling)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
