@model Model3dEditViewModel

<h2>Create</h2>
<div>
    @using (Html.BeginForm())
        {
        @Html.ValidationSummary()
        <div>
            @Html.LabelFor(m => m.Name)
            @Html.TextBoxFor(m => m.Name)
            @Html.ValidationMessageFor(m => m.Name)
        </div>
        <div>
            @Html.LabelFor(m => m.Format)
            @Html.DropDownListFor(m => m.Format, Html.GetEnumSelectList(typeof(Model3dFormat)));
        </div>
        <div>
            <input type="submit" value="Add" />
        </div>
        }
</div>