@model ModelRelief.Dto.Mesh

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Mesh</h4>
    <hr />
    <img class="filePreview" src="/meshes/@Model.Id/preview">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Camera.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Camera.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DepthBuffer.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DepthBuffer.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NormalMap.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NormalMap.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MeshTransform.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MeshTransform.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
