@model ModelRelief.Dto.Model3d

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Model3d</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Project.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Format)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Format)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Path)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Camera)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Camera.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
