@using Microsoft.Extensions.Options;
@using ModelRelief.Features.Settings
@using ModelRelief.Settings

@inject IOptions<AnalyticsSettings> analyticsOptions;
@{ var analyticsSettings = analyticsOptions.Value; }

@inject ISettingsManager settingsManager;
@{ var userSettings = await settingsManager.InitializeUserSettingsAsync(User); }

<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="description" content="@ViewBag.Description">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <!--******************************************************************************************-->
    <!--                                    CSS                                                   -->
    <!--******************************************************************************************-->
    @*Font Awesome*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Production, Staging, Test">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/css/bootstrap.min.css" asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        @*WIP : Add minification to generate site.min.css*@
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </environment>
    @if (String.Equals("workbench", this.ViewContext.RouteData.Values["controller"].ToString().ToLower()))
    {
        <link rel="stylesheet" href="~/css/workbench.css">
    }

    <!-- Favicon -->
    <partial name="_FaviconsPartial" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=@analyticsSettings.PropertyId"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', "@analyticsSettings.PropertyId");
    </script>
</head>

<body>
    <partial name="_CookieConsentPartial" />
    @await Component.InvokeAsync("NavBar")

    <div class="container-fluid">
        @RenderBody()
    </div>

    <footer class="page-footer font-weight-lighter bg-dark">
        <!-- @await Component.InvokeAsync("Footer") -->

        <div class="footer-copyright text-center mt-3 py-3">
            <div>
                <img class="mt-0 mr-1" src="~/images/IconWhite.png" alt="ModelRelief Shell" height="24" width="24">
                © 2020 Copyright:
                <a class="font-weight-normal" href="http://modelrelief.org/"> ModelRelief.org</a>
            </div>
            <div>
                <a asp-controller="Home" asp-action="Privacy">Our Privacy Policy</a>
            </div>
        </div>
    </footer>

    <!--******************************************************************************************-->
    <!--                                    Common JavaScript                                     -->
    <!--******************************************************************************************-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <environment names="Development, Test">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>

    <environment names="Production, Staging">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js" asp-fallback-src="~/lib/jquery/dist/jquery.min.js" asp-fallback-test="window.jQuery" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>

        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/4.2.1/bootstrap.min.js" asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal" crossorigin="anonymous" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"></script>
    </environment>

    <!--******************************************************************************************-->
    <!--                             ModelRelief Configuration                                    -->
    <!--******************************************************************************************-->
    <script src="~/lib/requirejs/require.js"></script>

    <environment names="Development, Test">
        <script>
            let minifiedExtension = "";
        </script>
    </environment>
    <environment names="Staging, Production">
        <script>
            let minifiedExtension = ".min";
        </script>
    </environment>
        <script>
            const modelRelief = `/js/modelrelief${minifiedExtension}`;
            requirejs.config({
                baseUrl: '.',
                paths: {
                    "FileTransfer/FileUpload": modelRelief,
                    "ModelRelief": modelRelief,
                    "Shared/Layout": modelRelief,

                    'Workbench/CameraTest': modelRelief,
                    'Workbench/ImageTest': modelRelief,

                    chai: '/lib/chai/chai',
                    three: '/lib/threejs/three',
                    pako: '/lib/pako/dist/pako',
                    "dat.gui": '/lib/threejs/dat.gui.min',
                }
            });
            window.onload = function () {
                requirejs(['Shared/Layout']);
            }
        </script>

        </script>

    @RenderSection("scripts", required: false)
</body>

</html>