@model IEnumerable<ModelRelief.Dto.Camera>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPerspective)
            </th>
            @*Perspective*@
            <th>
                @Html.DisplayNameFor(model => model.FieldOfView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspectRatio)
            </th>

            @*Orthographic*@
            <th>
                @Html.DisplayNameFor(model => model.Left)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Right)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Top)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bottom)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Near)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Far)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PositionX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionZ)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.EulerX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EulerY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EulerZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Theta)
            </th>


            <th>
                @Html.DisplayNameFor(model => model.ScaleX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScaleY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScaleZ)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.UpX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpZ)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPerspective)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FieldOfView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspectRatio)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Left)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Right)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Top)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bottom)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Near)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Far)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PositionX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionZ)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.EulerX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EulerY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EulerZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Theta)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ScaleX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScaleY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScaleZ)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.UpX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpZ)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
