@model IEnumerable<ModelRelief.Dto.Camera>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.StandardView)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FieldOfView)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Near)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Far)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoundClippingPlanes)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PositionX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionZ)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookAtX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookAtY)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LookAtZ)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.StandardView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FieldOfView)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Near)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Far)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoundClippingPlanes)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.PositionX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookAtX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookAtY)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LookAtZ)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
